<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.licenta.sava">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/car_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/car_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.DrivingSessionDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.DrivingSessionActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.DrivingSessionsHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>